@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

ul{
    list-style:none;
}

.cnn {
    font-family: 'Nanum Myeongjo';
    font-size: 13pt;
    line-height:200%;
    padding-left:15px;
    padding-right:15px;
}

.eqnum {
    padding-top:25px;
}

.eqexp {
    margin-bottom:20px;
}

.article {
    font-family: 'Nanum Myeongjo';
    margin-top:25px;
    border-bottom:1px solid #CCC;
    padding-bottom:20px;
}